$c-000: #000;
$c-333: #333;
$c-666: #666;
$c-999: #999;
$c-fff: #fff;
$c-f2: #f2f2f2;
$c-theme: #0070EE;
// 品牌主题色
$c-theme-3a: #f79e20;
$c-theme-crx: #8561f9;
$c-theme-itc: #aa1a1a;
$c-theme-ls: #31ceaa;
$c-theme-sl: #008cee;
$c-theme-zx: #0070EE;