// 字体图标固定颜色
.online {
  color: #74C300;
}

.fault {
  color: #F7403A;
}

.freeze {
  color: #2F91FF;
}

.busy {
  color: #E29341;
}

.offline {
  color: #999;
}

.red,
.icon-media-private-folder {
  color: #ff0000;
}

.icon-delete {
  color: #ec6656;
}

.icon-media-public-folder {
  color: #0fb905;
}

.icon-folder {
  color: #FFD142;
}
// 背景色
.on-line {
  background-color: #74C300;
}

.off-line {
  background-color: $c-999;
}

.be-busy {
  background-color: #E29341;
}

.fault {
  background-color: #2F91FF;
}

.frozen {
  background-color: #F7403A;
}

.com-hc-bg {
  background-color: #eaf4ff;
}

.com-m-bg {
  background-color: #EBF5FF;
}

.com-il-bg {
  background-color: #E7F1FB;
}

.com-ir-bg {
  background-color: #F3F9FF;
}

.com-select-bg {
  background-color: #DFEBFF !important;
}
.com-disable-select-bg {
  color: #aaa;
}
.iconfont.disabled{
  color: #999999;
  cursor: no-drop;
}