@import 'reset.scss';
@import 'add_select.scss';

#app {
  width: 100%;
  height: 100%;
  color: $c-000;
  font-size: 14px;
  font-family: MicrosoftYaHei;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.el-container {
  .el-main {
    padding: 0;
  }
}
.com-index,
.com-two-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.com-two-index {
  .com-two-main {
    width: 100%;
    margin-bottom: 10px;
  }
}
.com-head {
  .com-head-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    .com-breadcrumb {
      display: flex;
      align-items: center;
      padding-left: 10px;
      .el-select {
        display: inline-flex;
        margin-right: 12px;
        .select-trigger {
          width: 200px;
        }
      }
    }
    .com-button {
      flex: 1;
      text-align: right;
      padding-right: 10px;
      i {
        font-size: 18px;
        margin-left: 20px;
        cursor: pointer;
      }
    }
    .text-button {
      .button {
        display: inline-block;
        margin-left: 20px;
        cursor: pointer;
      }
      .text {
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
      }
      i {
        margin-left: 0;
        vertical-align: middle;
      }
    }
  }
  .com-alert-bg {
    // background-color: #f4f4f4;
    border-bottom: 1px solid #E0E2E3;
    .strong {
      margin: 0 8px;
      font-size: 16px;
      font-weight: bold;
      // color: $c-333;
      color: #6F95C1;
    }
  }
}
.com-index-left {
  display: flex;
  width: 350px;
}
.com-index-right {
  flex: 1;
  width: calc(100% - 350px);
}
.com-main {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
  .com-table {
    width: 100%;
    height: 100%;
    padding: 10px 10px 20px;
    box-sizing: border-box;
  }
}
.com-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .el-card {
    margin: 10px;
    background: #f6faff;
  }
  .el-card__body {
    padding: 10px;
  }
}
.com-form {
  padding: 22px 40px;
  .el-input-number,
  .el-select {
    width: 274px;
  }
  .el-input-number,
  .el-input,
  .el-select,
  .el-date-editor.el-input,
  .el-date-editor.el-input .el-input__wrapper {
    width: 100%;
    box-sizing: border-box;
  }
  
  .icon-gray-item {
    position: absolute;
    top: -35px;
    left: -20px;
  }
}
.custom-form-input {
  .el-form-item__content {
    .custom-number {
      display: inline-block;
      width: 50px;
      height: 32px;
      text-align: center;
      border-radius: 4px;
      border: 1px solid #dcdfe6;
      box-sizing: border-box;
    }
    .el-input-number {
      width: calc(100% - 50px);
    }
  }
}
.com-form-item-custom {
  min-width: 274px;
  margin-right: 80.5px;
  margin-bottom: 18px;
  .el-checkbox {
    height: 30px;
  }
  .el-input,
  .el-select {
    display: flex;
  }
}
.com-add-bottom {
  padding-bottom: 80px;
}
.com-form-button {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 9;
}
.com-footer {
  padding-bottom: 20px;
  text-align: center;
  .el-pagination {
    display: inline-flex;
  }
}
.set-padding {
  padding: 0 30px;
  box-sizing: border-box;
}
// Element plus 样式修改
// .el-popper {
//   width: auto !important;
// }
.el-table {
  thead {
    // 表格-title
    color: $c-666;
    .cell {
      font-weight: bold;
    }
  }
  th.el-table__cell {
    background-color: #f6faff;
  }
  th,
  td {
    text-align: left;
    padding: 6px 0;
  }
  .el-table__body-wrapper {
    tbody {
      tr:nth-of-type(odd) {
        background: $c-fff;
      }
      // tr:nth-of-type(even) {
      //   background: #f6faff;
      // }
    }
    .el-table__empty-block {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60px;
      color: $c-999;
    }
    td.el-table__cell,
    th.el-table__cell.is-leaf,
    .el-table--border .el-table__cell {
      border: 1px dotted $c-fff;
      border-bottom-color: #eee;
    }
  }
  .cell {
    padding-left: 10px;
    .el-checkbox {
      vertical-align: middle;
    }
  }
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: $c-f2;
}
.hover-row td {
  background-color: $c-f2 !important;
}
// 背景色、字体颜色
.com-hc-bg {
  background-color: #eaf4ff;
}
.com-m-bg {
  background-color: #EBF5FF;
}
.com-il-bg {
  background-color: #E7F1FB;
}
.com-ir-bg {
  background-color: #F3F9FF;
}
// 字体图标固定颜色
.red, .icon-media-private-folder {
  color: #ff0000;
}
.icon-delete {
  color: #ec6656;
}
.icon-media-public-folder {
  color: #0fb905;
}
.on-line {
  background-color: #74C300;
}
.off-line {
  background-color: $c-999;
}
.be-busy {
  background-color: #E29341;
}
.fault {
  background-color: #F7403A;
}
.frozen {
  background-color: #2F91FF;
}
.icon-folder {
  color: #FFD142;
}
// 自定义默认select样式
.custom-select {
  width: 100%;
  height: 25px;
  padding: 5px 20px 5px 5px;
  border: 1px solid #eee;
  border-radius: 4px;
  cursor: pointer;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  outline: none;
}
// 图标禁用
.icon-disabled {
  color: $c-999 !important;
  cursor: not-allowed !important;
}
.iconfont {
  cursor: pointer;
}
// 终端音量 popover
.el-popover.el-popper.terminal-volume-popper {
  min-width: 105px;
  margin: 20px 0 0 0 !important;
  padding: 5px 10px;
  .el-slider {
    height: 10px;
  }
}
// 默认弹框dialog样式
.com-default-dialog {
  .el-dialog__header {
    padding: 0 20px;
    margin-right: 0;
    background-color: #0070EE;
    .el-dialog__title {
        color: #FFFFFF;
        font-size: 14px;
        line-height: 40px;
    }
    .el-dialog__headerbtn {
        top: 0;
        height: 40px;
        width: 40px;
        .el-dialog__close {
            color: #fff;
        }
    }
  }
  .com-default-dialog-test {
    text-align: center;
    div {
      display: inline-block;
      text-align: left;
    }
  }
}
// 弹窗样式
// .el-dialog {
//   .el-dialog__title {
//     font-size: 16px;
//     font-weight: bold;
//   }

//   .el-dialog__body {
//     padding: 24px;

//     .com-dialog-title {
//       padding: 10px 0 25px;

//       .title {
//         color: $c-333;
//         font-weight: bold;
//       }

//       .tips {
//         color: $c-999;
//       }
//     }
//   }

//   .el-dialog__header {
//     margin-right: 0;
//     padding: 0;
//   }

//   .el-dialog__footer {
//     padding: 10px 20px 16px;
//   }
// }
// .com-dialog-header {
//   display: flex;
//   align-items: center;
//   height: 40px;
//   padding: 0 20px;
//   background: #F9F9F9;
//   border-bottom: 1px solid #eee;

//   .dialog-icon {
//     flex: 1;
//     text-align: right;
//     font-size: 24px;
//     color: $c-999;

//     i {
//       transition: all 1s;

//       &:hover {
//         transform: rotate(180deg);
//         color: $c-theme;
//         cursor: pointer;
//       }
//     }
//   }
// }

.com-dialog-footer {
  .el-button+.el-button {
    margin-left: 24px;
  }
}
.curstom-el-popper {
  width: auto !important;
}