@import '../font/iconfont.css';
@import 'index.scss';

.theme {
  color: $c-theme !important;
}
.theme-bg {
  background-color: $c-theme;
}
//滚动条
::-webkit-scrollbar-thumb {
  background-color: $c-theme;
}
//icom
.icon-add,
.icon-refresh,
.icon-clone,
.icon-upload,
.icon-download,
.icon-edit,
.icon-edit1,
.el-table__expand-icon>.el-icon {
  color: $c-theme;
}